#name{
    font-family: monsterrat;
    text-emphasis: underline;
    color: red;
}
#Country{
    font-family: monsterrat;
    text-emphasis: underline;
    color: green;
}

.about{
    font-family: monsterrat;
    text-emphasis: bold underline;
    color: orange;
    font-size: 25px;
    opacity: 1.5;
}

h1{
    color:magenta
}

h4 {
    color:orange;
}
























































































































































































































































































































































































































































































































































































































































































































































































